.editor-container{
    position: relative;
    overflow: visible;
    height: 100%;
    width: 100%;
}

#editor-toolbar{
    opacity: .1;
    transition: opacity .5s
}

.editorContainer{
    position: relative;
    text-align: left;
    overflow: scroll;
    height: calc(100% - 55px);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    background: white;
    line-height: 1.5em;
    z-index: 1;
}

.editorContent{
    position: relative;
    text-align: left;
    height: auto;
    min-height: calc(100% - 35px);
    max-width: 550px;
    margin: 15px;
    margin-right: auto;
    margin-left: auto;
    background: white;
}

.editorContent:hover{
    cursor: text;
}

.public-DraftEditorPlaceholder-root{
    color: #d6d6d6;
    position: absolute;
}

.sheet-title{
    position: relative;
    height: 25px;
    width: calc(100% - 105px);
    line-height: 30px;
    margin: 0;
    padding: 5px 0 0 5px;
    border: none;
    outline: none;
    font-size: 150%;
    background: transparent;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: transparent;
    color: #b3b3b3;
    transition: all .5s;
}

.sheet-title:focus{
    border-left-color: red;
    background-color: white;
    color: black;
}
