
.themeGridColor{
    border-color: #1976D2;
}

.themeBackground{
    -webkit-transition: all .5s ease;
    background: #f8f8f8;
}

.widgetBackground{
    -webkit-transition: all .5s ease;
    background: white;
    color: #373d3f;
}

.widgetSecondaryBackground{
    -webkit-transition: all .5s ease;
    background: #f5f5f5;
}

.themeTextColor{
    -webkit-transition: all .5s ease;
    color: #373d3f;
}

.themePrimaryColor{
    -webkit-transition: all .5s ease;
    background: white;
}

.themeSecondaryColor{
    background: #f2f2f2;
}

.tertiaryColor{

}

.boxShadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
}

.themeVerifiedColor{
    -webkit-transition: all .5s ease;
    background: #168e4f;
}

.defaultEditorText{
    -webkit-transition: all .5s ease;
    color: #373d3f !important;
}

.misspellEditorText{
    -webkit-transition: all .5s ease;
    color: #373d3f !important;
    border-bottom: 0.15em dotted #af0000;
}
