.themeGridColor{
    -webkit-transition: all .5s ease;
    border-color:#1976D2;
    border-color: #d25c6b;
}

.themeBackground{
    -webkit-transition: all .5s ease;
    background: #303030;
}

.widgetBackground{
    -webkit-transition: all .5s ease;
    background: #424242;
    color: #eeeeee;
}

.widgetSecondaryBackground{
    -webkit-transition: all .5s ease;
    background: #212121;
}

.themeTextColor{
    -webkit-transition: all .5s ease;
    color: #eeeeee;
}

.themePrimaryColor{
    -webkit-transition: all .5s ease;
    background: #424242;
}

.themeSecondaryColor{
    background: #353535;

}

.tertiaryColor{

}

.boxShadow {
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12), -1px 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);

}

.themeVerifiedColor{
    -webkit-transition: all .5s ease;
    background: #168e4f;
}

.defaultEditorText{
    -webkit-transition: all .5s ease;
    color: #eeeeee !important;
}

.misspellEditorText{
    -webkit-transition: all .5s ease;
    color: #eeeeee !important;
    border-bottom: 0.15em dotted #e70000;
}
