#menuBar{
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 40px;
    width: auto;
    height: 100%;
    background-color: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 0px 2px 0 rgba(0, 0, 0, 0.2);
    transition: transform .5s
}

#menuBar-overlay{
    position: absolute;
    top:0;
    left:0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}

#menuBar-topButtonGroup{
    width: 40px;
    position: absolute;
    top: 0;
}

#menuBar-botButtonGroup{
    width: 40px;
    position: absolute;
    bottom: 0;
}

#menuBar-subMenu{
    position:absolute;
    top:0;
    left:40px;
    height: 100%;
    width: 240px;
    background-color: white;
}

#subMenu{
    position: relative;
    width: 100%;
    height: 100%;
}

.subMenu-title{
    display: inline-block;
    font-size: 150%;
    font-weight: 700;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: black;
}

.subMenu-title-tools{
    float: right;
    padding: 5px;
}

.botToolGroup-item{
    position: relative;
    padding: 10px 20px;
    right: 0;
    margin: 5px;
}

.botToolGroup{
    position: absolute;
    right: 0;
    bottom: 0;
}
