#menuBar{
    z-index: 10;
    display: block;
    position:absolute;
    top: 0;
    left: 0px;
    width: 40px;
    height: 100%;
    background-color: #E0E0E0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
}

#menuBar-overlay{
    position: absolute;
    top:0;
    left:0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}

#menuBar-topButtonGroup{
    position: absolute;
    top: 0;
}

#menuBar-botButtonGroup{
    position: absolute;
    bottom: 0;
}

#menuBar-subMenu{
    position:absolute;
    top:0;
    left:40px;
    height: 100%;
    width: 240px;
    background-color: #E0E0E0;
}

#subMenu{
    position: relative;
    margin: 10px 5px 5px;
    width:calc(100% - 10px);
    height: calc(100% - 15px);
}
